<h1> Calculator</h1>

<div class="container containerME">
  <div class="row">
    
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div><div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 headsup">
      0
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 ssol">
      0
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 blac">
      <button class="btnlg" > AC </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 blac">
      <button class="btnlg" > +/- </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 blac">
      <button class="btnlg" > % </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btnor" > &divide; </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 7 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 8 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 9 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btnor" > &times; </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 4 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 5 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 6 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btnor" > - </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 1 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 2 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > 3 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btnor" > + </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 white">
      <button class="btndglar" > 0 </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btndg" > . </button>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 white">
      <button class="btnor" > = </button>
    </div>
  </div>
</div>
