h1{
    color: #FF9E00;
    text-align: center;
    font-size: 50px;
}
.white{
    color: white;
    text-align: center;
}

.blac{
    color: black;
    text-align: center;
    
}

.headsup{
    color: #A3A3A3;
    font-size: 40px;
    text-align: right;
}

.ssol{
    color: whitesmoke;
    font-size: 60px;
    text-align: right;
}

button{
    margin-left: 13%;
}

button:focus {outline:0;}

.containerME{
 text-align: center;
}

.btndg {
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #363636;
    background-color: #363636;
    font-size: 25px;
    
}
.btndg:active{
    background:gray;
    color: whitesmoke;
    border: none;
}
.btndg:hover{
    background:gray;
    color: whitesmoke;
    border: none;
}

.btnlg {
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #A3A3A3;
    background-color: #A3A3A3;
    font-size: 20px;
    font-weight: bolder;
}
.btnlg:active{
    background:#c7c7c7;
    color: black;
    border: none;
}
.btnlg:hover{
    background:#c7c7c7;
    color: black;
    border: none;
}


.btnor {
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #FF9E00;
    background-color: #FF9E00;
    font-size: 25px;
}
.btnor:active{
    background:#ffbd52;
    color: black;
    border: 1px solid #cabeaa00;
}
.btnor:hover{
    background:#ffbd52;
    color: black;
    border: 1px solid #cabeaa00;
}

.btndglar {
    display:inline-block;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #363636;
    background-color: #363636;
    font-size: 25px;
}
.btndglar:active{
    background:gray;
    color: whitesmoke;
    border: 1px solid #cabeaa00;
}
.btndglar:hover{
    background:gray;
    color: whitesmoke;
    border: 1px solid #cabeaa00;
}